# Игнорирование виртуального окружения
myenv/

# Игнорирование файлов Python
__pycache__/
*.pyc
*.pyo

# Игнорирование кэша pytest
.pytest_cache/
*.coverage

# Игнорирование временных файлов и IDE
.vscode/
.idea/
*.swp
*.swo

# Игнорирование логов
*.log

# Игнорирование конфигурационных файлов
.env